body {
  background-image: url(../images/gambling.jpg);
  background-repeat: space;
  background-size: cover;
  text-shadow: 10px;
  image-orientation: 100%;

}

#intro {
  color: gold;
  text-align:center;
  text-shadow: 20px;
  font-size: 65px;
  margin-top: 15%;
}

h2 {
  color: red;
  text-align: center;
  font-size: 38px;
  margin-top: 10%;
}

p {
  color: white;
  font-size: 25px;
}
#players {
  color: white;
}

h3 {
  color: white;
  font-size: 28px;
}

h4 {
  color: green;
  text-align: center;
  font-size: 30px;
}

#playerOne-score {
  color: gold;
}

#playerTwo-score {
  color: gold;
}

#current-roll {
  color: red;
}
#cumulative-total{
  color: red;
}
.body {
  margin-right: 55%;
  margin-bottom: 10%;
}
